<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitbybitlabs.pkarels.finance">

    <application>
        <activity
            android:name=".TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:theme="@style/Life.TransactionsActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="life.bitbybitlabs.com"
                    android:pathPrefix="/finance" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="life.bitbybitlabs.com"
                    android:pathPrefix="/finance" />
            </intent-filter>
        </activity>
    </application>


</manifest>