<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.bitbybitlabs.pkarels.finance.instant">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_finance">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.bitbybitlabs.pkarels.finance.TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:theme="@style/Life.TransactionsActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="life.bitbybitlabs.com"
                    android:pathPrefix="/finance" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="life.bitbybitlabs.com"
                    android:pathPrefix="/finance" />
            </intent-filter>
        </activity>
    </application>


</manifest>