<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bitbybitlabs.life">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".installed.LifeApplication"
        android:hasCode="true"
        tools:replace="android:hasCode"
        android:theme="@style/Life">
    </application>
</manifest>
