<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.bitbybitlabs.weather"
    split="weather">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_weather">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="true">
        <activity android:name="com.bitbybitlabs.weather.ui.WeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>